.video-container p {
  font-weight: bold;
}
.video-container iframe {
  width: 100%;
  height: 17rem;
}
@media(min-width: 375px){
  .video-container iframe {
    height: 20rem;
  }
}
@media(min-width: 425px){
  .video-container iframe {
    height: 25rem;
  }
}
@media(min-width: 768px){
  .video-container iframe {
    height: 30rem;
  }
}
@media(min-width: 1440px){
  .video-container iframe {
    height: 40rem;
  }
}